
.m-0.card-body
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 1 - Hello Coders.Tokyo
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Khai gi&#x1EA3;ng l&#x1EDB;p h&#x1ECD;c NodeJS Web Server using Express 2018
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 2 - Template engines
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EDB;i thi&#x1EC7;u v&#x1EC1; c&aacute;ch ph&acirc;n chia giao di&#x1EC7;n trong NodeJS v&#x1EDB;i Template Engine
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 3 Query parameters
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Query Parameters
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 4 - POST method
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 X&#x1EED; l&yacute; ph&#x1B0;&#x1A1;ng th&#x1EE9;c POST t&#x1EEB; Form
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 5 - nodemon
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Restart Serverr t&#x1EF1; &dstrok;&#x1ED9;ng v&#x1EDB;i nodemon
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 6 - T&iacute;ch h&#x1EE3;p database (lowdb)
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 H&#x1B0;&#x1EDB;ng d&#x1EAB;n s&#x1EED; d&#x1EE5;ng Database &dstrok;&#x1A1;n gi&#x1EA3;n nh&#x1EA5;t
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 7 - View user
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Thi&#x1EBF;t l&#x1EAD;p v&agrave; s&#x1EED; d&#x1EE5;ng view trong ExpressJS
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 8 - Express Router
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 &Dstrok;i&#x1EC1;u h&#x1B0;&#x1EDB;ng &dstrok;&#x1B0;&#x1EDD;ng d&#x1EAB;n c&#x1EE7;a URL v&#x1EDB;i Express Router
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 9 - Controller (MVC)
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 S&#x1EED; d&#x1EE5;ng Controller (MVC) &dstrok;&#x1EC3; x&#x1EED; l&yacute; v&agrave; b&#x1EA3;o tr&igrave; code d&#x1EC5; d&agrave;ng h&#x1A1;n
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 10 - Template layout
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 S&#x1EED; d&#x1EE5;ng Tempalte Layout Pug
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 11 - Static files
      svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='check-circle', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', color='#28a745')
        path(fill='currentColor', d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z')
    .col-xs-12.col-sm-6.mb-2 Thi&#x1EBF;t l&#x1EAD;p &dstrok;&#x1B0;&#x1EDD;ng d&#x1EAB;n t&itilde;nh cho File
    .col-xs-12.col-sm-3
      button.btn.btn-sm.btn-cons(type='button') Xem l&#x1EA1;i
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 12 - Server-side validation (Login)
    .col-xs-12.col-sm-6.mb-2 X&aacute;c th&#x1EF1;c &dstrok;&abreve;ng nh&#x1EAD;p tr&#x1B0;&#x1EDB;c khi x&#x1EED; l&yacute;
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(type='button') B&#x1EAF;t &dstrok;&#x1EA7;u
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 13 - Middleware
    .col-xs-12.col-sm-6.mb-2 S&#x1EED; d&#x1EE5;ng Middleware th&#x1EBF; n&agrave;o?
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 14 - Cookie
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EA3;i th&iacute;ch v&#x1EC1; Cookie v&agrave; demo s&#x1EED; d&#x1EE5;ng
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 15 - Authentication (Login)
    .col-xs-12.col-sm-6.mb-2 Autheticate Login (Ch&#x1EE9;ng th&#x1EF1;c &dstrok;&abreve;ng nh&#x1EAD;p)
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 16 - md5
    .col-xs-12.col-sm-6.mb-2 M&atilde; h&oacute;a v&#x1EDB;i md5 v&agrave; v&#x1EA5;n &dstrok;&#x1EC1; b&#x1EA3;o m&#x1EAD;t
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 17 - Signed Cookie
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EA3;i quy&#x1EBF;t v&#x1EA5;n &dstrok;&#x1EC1; b&#x1EA3;o m&#x1EAD;t v&agrave; c&aacute;ch hack t&agrave;i kho&#x1EA3;n b&#x1EB1;ng Cookie
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 18 - Environment Variables
    .col-xs-12.col-sm-6.mb-2 Bi&#x1EBF;n m&ocirc;i tr&#x1B0;&#x1EDD;ng v&agrave; c&aacute;c &#x1EE9;ng d&#x1EE5;ng trong th&#x1EF1;c t&#x1EBF;
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 19 - Debug Node.js app
    .col-xs-12.col-sm-6.mb-2 H&#x1B0;&#x1EDB;ng d&#x1EAB;n ki&#x1EC3;m th&#x1EED; v&agrave; d&ograve; l&#x1ED7;i tr&ecirc;n nodeJS App
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 20 - Pagination (Ph&acirc;n trang)
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EA3;i th&iacute;ch Logic c&#x1EE7;a vi&#x1EC7;c ph&acirc;n d&#x1EEF; li&#x1EC7;u ra t&#x1EEB;ng trang hi&#x1EC3;n th&#x1ECB;
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 21 - File Upload
    .col-xs-12.col-sm-6.mb-2 Upload File th&ocirc;ng th&#x1B0;&#x1EDD;ng b&#x1EB1;ng nodeJS thu&#x1EA7;n
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 22 - Session
    .col-xs-12.col-sm-6.mb-2 Kh&aacute;i ni&#x1EC7;m v&#x1EC1; Session v&agrave; c&aacute;ch ho&#x1EA1;t &dstrok;&#x1ED9;ng
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 23 - CSRF Attack
    .col-xs-12.col-sm-6.mb-2 Bi&#x1EC7;n ph&aacute;p t&#x1EA5;n c&ocirc;ng trang web nguy hi&#x1EC3;m c&#x1EA7;n bi&#x1EBF;t &dstrok;&#x1EC3; &dstrok;&#x1EC1; ph&ograve;ng
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 24 - Install MongoDB
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EDB;i thi&#x1EC7;u v&agrave; h&#x1B0;&#x1EDB;ng d&#x1EAB;n c&agrave;i &dstrok;&#x1EB7;t c&#x1A1; s&#x1EDF; d&#x1EEF; li&#x1EC7;u MongoDB
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 25 - Gi&#x1EDB;i thi&#x1EC7;u Mongoose
    .col-xs-12.col-sm-6.mb-2 C&aacute;ch s&#x1EED; d&#x1EE5;ng Mongoose &dstrok;&#x1EC3; k&#x1EBF;t n&#x1ED1;i &dstrok;&#x1EBF;n c&#x1A1; s&#x1EDF; d&#x1EEF; li&#x1EC7;u MongoDB
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 26 - HTTP API
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EDB;i thi&#x1EC7;u v&#x1EC1; HTTP API
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 27 - REST API
    .col-xs-12.col-sm-6.mb-2 Gi&#x1EDB;i thi&#x1EC7;u REST API
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 28 - Error Handling
    .col-xs-12.col-sm-6.mb-2 X&#x1EED; l&yacute; l&#x1ED7;i trong Express
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
  .lesson-list-item.row.mb-sm-3.mb-4
    .col-xs-12.col-sm-3
      b.pr-2 B&agrave;i 29 - Deploy to Heroku
    .col-xs-12.col-sm-6.mb-2 H&#x1B0;&#x1EDB;ng d&#x1EAB;n tri&#x1EC3;n khai &#x1EE9;ng d&#x1EE5;ng l&ecirc;n Server th&#x1EAD;t v&#x1EDB;i Heroku
    .col-xs-12.col-sm-3
      button.btn.btn-primary.btn-sm.btn-cons(disabled='', type='button')
        i.fas.fa-lock
        |  &Dstrok;&atilde; kho&aacute;
